.footer{
  background-color: var(--negro-opaco);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 0;
  color: white;
}

.social_icon{
  font-size: 25px;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  margin: 0 5px;
  color: white;
  cursor: pointer;
}

.social_fb{
  background-color: #3B5998;
}

.social_ig{
  background-color: #125688;
}

.social_wp{
  background-color: #25d366;
}

.rights{
  font-size: 14px;
}

@media (max-width: 768px){
  .social_icon{
    height: 55px;
    width: 55px;
  }

  .rights{
    font-size: 12px;
  }
}