.reseñas{
  background-color: var(--fondo2);
  padding: 100px 0;
}

.reseñas_container{
  width: 90%;
  margin: 0 auto;
}

.reseñas_h2{
  font-size: 36px;
  font-weight: 400;
}

.reseñas_h2::before{
  content: "";
  position: absolute;
  width: 130px;
  height: 3px;
  background-color: var(--verde);
  margin-top: 50px;
}

.widget-container{
  width: 90%;
  margin: 0 auto;
}

@media (max-width:1024px){
  .reseñas{
    padding: 70px 0;
  }
}